name: Deploy
on:
  push:
    branches: [ sandbox, qa ]
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
env:
  AWS_REGION: ap-northeast-2
  AWS_ACCESS_KEY_ID: ${{ secrets.DEPLOYER_AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.DEPLOYER_AWS_ACCESS_KEY_ID }}
  GITHUB_TOKEN: ${{ secrets.WORKFLOW_GITHUB_TOKEN }}
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: deploy-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@main

      - name: set env
        run: |
          if [ $GITHUB_REF_NAME = 'sandbox' ] || [ $GITHUB_REF_NAME = 'qa' ]; then
            PROFILE=$GITHUB_REF_NAME
            TAG_NAME=$GITHUB_REF_NAME-$(date +'%Y%m%dT%H%M%S%Z')
          else
            PROFILE=prod
            TAG_NAME=$GITHUB_REF_NAME
          fi
          
          TARGET_PATH=
          REF_BRANCH=$PROFILE
          ECR_URI=

          echo "TARGET_PATH: $TARGET_PATH"
          echo "PROFILE: $PROFILE"
          echo "TAG_NAME: $TAG_NAME"
          echo "REF_BRANCH: $REF_BRANCH"
          echo "ECR_URI: $ECR_URI"

          echo "TARGET_PATH=${TARGET_PATH}" >> $GITHUB_ENV
          echo "PROFILE=${PROFILE}" >> $GITHUB_ENV
          echo "TAG_NAME=${TAG_NAME}" >> $GITHUB_ENV
          echo "REF_BRANCH=${REF_BRANCH}" >> $GITHUB_ENV
          echo "ECR_URI=${ECR_URI}" >> $GITHUB_ENV

      - name: Set up JDK 25
        uses: actions/setup-java@main
        with:
          distribution: 'corretto'
          java-version: '25'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@main

      - name: Build with Gradle
        run: ./gradlew assemble --no-daemon --parallel -Dspring.profiles.active=${{ env.PROFILE }} -x test

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@main

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@master

      - name: Build and push
        uses: docker/build-push-action@master
        with:
          context: .
          push: true
          tags: ${{ env.ECR_URI }}:${{ env.TAG_NAME }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@main
        with:
          token: ${{ env.GITHUB_TOKEN }}
          repository: bestheroz/Demo__EKS
          event-type: edit-kustomize
          client-payload: |
            {
              "dockerImg":"${{env.ECR_URI}}:${{env.TAG_NAME}}",
              "refBranch":"${{ env.REF_BRANCH }}",
              "tagName":"${{ env.TAG_NAME }}",
              "targetPath":"${{ env.TARGET_PATH }}"
            }
