name: test
on:
  push:
    branches-ignore: [ sandbox, qa ]
    tags-ignore: ['**']
jobs:
  build-and-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - name: Set up JDK 25
        uses: actions/setup-java@main
        with:
          distribution: 'corretto'
          java-version: '25'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@main

      - name: Spotless Check and Build
        run: ./gradlew spotlessCheck assemble --no-daemon --parallel -Dspring.profiles.active=prod -x test
